<form id="tool-form" action='https://lti-ri.imsglobal.org/lti/tools/669/launches' method="POST" accept-charset="UTF-8">
    <input type="hidden" name="id_token" value={{id_token}}>
    <input type="hidden" name="state" value={{state}}>
     <input type="hidden" name="commit" value="Perform Launch">
</form>


<script >
     document.getElementById("tool-form").submit();
</script>